.conteudo-principal {
    background-color: #28bb28;
    padding: 30px;
  }

  .titulo-centralizado {
    text-align: center;
  }

  p {
    text-align: justify;
  }
 
  #missao {
    background-color: #90e690;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #003300;
    font-size: 20px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 50%;
  }

  em strong {
    color: #003300;
  }


  